/* .card-img-top {
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
    height: 100px;
    } */
/* .slick-list > .card-deck {
    height: 5000px;
    } */

@media screen and (max-width: 375px) {
  .width-set {
    margin-left: 50px;
    margin-right: 50px;
    height: 300px;
  }
}

@media screen and (max-width: 480px) {
  .width-set {
    margin-left: 50px;
    margin-right: 50px;
    height: 200px;
  }
}

@media screen and (max-width: 600px) {
  .width-set {
    margin-left: 50px;
    margin-right: 50px;
    height: 400px;
  }
}
