// .owner-img {
//   height: 60%;
// }

// .owner {
//   background: #fff;
//   //width: '15rem';
//   margin: '2rem';
//   border-radius: 0.6em;
//   //height: 50%;
//   //width: 10%;
//   height: 1000px;

//   margin: 1em;
//   overflow: hidden;
//   cursor: pointer;
//   box-shadow: 0 13px 27px -5px rgba(1, 1, 2, 0.25),
//     0 8px 16px -8px hsla(0, 0%, 0%, 0.7), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
//   transition: all ease 200ms;
//   font-weight: bolder;
// }

// .ownerBody {
//   height: 20%;
// }
// .test1 {
//   max-height: 1000px;
//   width: 80%;
// }

.test1-img {
  height: 85%;
  width: 100%;
}

@media only screen and (max-device-width: 480px) {
  .test1 {
    margin-top: 100px;
  }
}

@media only screen and (max-device-width: 800px) {
  .test1 {
    margin-top: 30px;
  }
}
