.set-padding {
  padding: 0;
  justify-content: center;
  /* margin-left: 120px;
  margin-right: 100px; */
}

@media only screen and (max-device-width: 375px) {
  .set-padding {
    padding: 0;
    justify-content: center;
    margin-left: 3px;
    margin-right: 3px;
  }
}
