@import '~bootstrap/dist/css/bootstrap.css';

/* change the background color */
.navbar {
  margin-top: 0px;
  padding: 0px;
  text-align: center;
  background-color: #1b3254;
}
/* change the link color and add padding for height */
.navlink > a {
  color: aliceblue;
  position: relative;

  transition: 0.3s ease;
  background: #1b3254;
  color: aliceblue;
  font-size: 20px;
  text-decoration: none;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  padding: 20px 0;
  margin: 0 5px;
  font-size: 17px;
}

.navlink > a:hover {
  color: #f8ece4;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  padding: 6px 0;
}
